* {
    box-sizing: border-box;
}
.page-header{
    margin-right: 300px;  
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}
.head{
    font-family: 'Orelega One';
    color: #e62a05;
}
img{
    width: 250px;
    height: 180px;
}
.wrapper{
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 0.5px;
    flex-flow: column wrap;
    border-bottom: 1px white;
}
.title{
    font-size: 16px;
    font-family: 'Shippori Mincho B1';
    font-weight: bold;
}
.desc{
    font-size: 14px;
    text-align: left;
}
.content{
    font-size: 18px;
    width: 700px;
    position: relative;
    bottom: 160px;
    left: 300px;
    
}
content p {
    word-break: break-all;
    overflow: hidden;
}
.p_date{
    text-align: right;
    font-size: 15px;
}
.active{
    color: red;
}