.page-header{
    margin-right: 800px;
}
/* img{
    width: 200px;
    height: 200px;
} */
/* .wrapper {
    background-image: url("https://images.unsplash.com/photo-1648737154547-b0dfd281c51e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80;")
} */